name: pyinstaller
on:
  push:
    branches: [ master ]
    # TODO: on pr and tag only
  pull_request:
    branches: [ master ]
  
jobs:
  compile-linux-executable:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: JackMcKew/pyinstaller-action-linux@main
        with:
          path: src
          spec: DarkChess/__main__.py
#      - run: sh -c 'ln -v src/dist/DarkChess src/dist/DarkChess-$(uname -s)-$(uname -m)'
      - uses: actions/upload-artifact@v2
        with:
          path: src/dist/linux/DarkChess
  compile-windows-executable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: JackMcKew/pyinstaller-action-windows@main
        with:
          path: src
          spec: DarkChess/__main__.py
#      - run: sh -c 'ln -v src/dist/DarkChess src/dist/DarkChess-Windows$(wine --get-major-version)-$(uname -m)'
      - uses: actions/upload-artifact@v2
        with:
          path: src/dist/windows/DarkChess.exe
